body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
    width: 600px;
    text-align: center;
    border-collapse: separate;
}

th, td{
    
    padding: 5px;
}

th{
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    font-size: 90%;
    letter-spacing: 0.2em;
}
tr.alternado{
    background-color: #efefef;
}

.numero{
    text-align: right;
}

tr:hover{
    background-color: aquamarine;
}

td:hover{
    background-color: aqua;
}